* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333; /* Dark Gray */
    color: #fff; 
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.app-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.action-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.action-form__input {
    margin-bottom: 10px;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    background-color: #f0f0f0; /* Light Gray */
    color: #333; /* Dark text for contrast */
    border: 1px solid #ccc; /* Optional: Add a subtle border */
}

.action-form__button {
    padding: 5px 10px;
}

.loader {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.result {
    display: none;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 700px;
    border: 5px solid greenyellow;
    border-radius: 5px;
}

.result__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.result__item > label {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 200px;
}

.result__item__value {
    flex: 2; /* Allow value to grow and take available space */
    display: flex;
    align-items: center;
}

.error-display {
    width: fit-content;
    display: none;
    color: red;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 10px 30px;
    border: 5px solid orange;
    border-radius: 5px;
}
